.card-container {
  border-radius: 1rem;
  background: inherit;
  padding: 1rem;
  transition: 0.6s;
}

.card-container:hover {
  background-color: #0d0e0e;
  border: 2px solid #e1ff02;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --cardStyle-height: 65vh;
  --cardStyle-width: calc(var(--cardStyle-height) / 1.5);
}

.cardStyle {
  background: linear-gradient(131.01deg, #000 3.45%, #242424 98.86%),
    linear-gradient(149.73deg, #defc01 -11.5%, transparent 43.42%);
  width: var(--cardStyle-width);
  /* height: 16rem; */
  padding: 5vh 0;
  height: 45vh;
  box-shadow: 0px 1.3319945335388184px 1.3319945335388184px 0px
    rgba(0, 0, 0, 0.25);
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  color: white;
}

.cardStyle::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 1rem;
  background-image: linear-gradient(
    var(--rotate),
    #e1ff01 1.56%,
    rgba(0, 0, 0, 0) 20.57%
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
