@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #0d0e0e;
  color: #efefef;
  font-family: Montserrat, sans-serif;
}

/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(225, 255, 2);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

/* Firefox */
scrollbar {
  width: 2px;
}

scrollbar-thumb {
  background-color: rgb(225, 255, 2);
  border-radius: 5px;
}

scrollbar-track {
  background-color: inherit;
}
